#app {
  display: flex;
}

#right-container {
  display: flex;
  flex: 1;
}

.left {
  width: 200px;
  height: 100vh;
}

.right {
  flex: 1;
  height: 100vh;
  padding: 0 10px;
}

.my-table {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.88);
  border: 1px solid #f0f0f0;
  border-collapse: collapse;
}

.my-table tr:hover {
  background-color: #f0f0f0;
}

.my-table th {
  border: 1px solid #f0f0f0;
  padding: 5px 8px;
  font-weight: 600;
}

.my-table td {
  border: 1px solid #f0f0f0;
  padding: 5px 8px;
}

.td-title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.88);
  text-align: center;
}
